#AutoGen'd files

*.DS_Store     #I'm on MacOS, let's keep the repo clean from clutter!
.DS_Store	   #in case adding the * ruins it

#Unimportant Dirs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
Social-Avoidance-Game/.vs/

#Debug Build Executables
Social-Avoidance-Game/Social-Avoidance-Game.exe

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.ipch